{% extends 'base_article.html' %}
{% load static from staticfiles %}


{% block content %}




      <!--Header-->
      <section id="banner">
      <div class="jumbotron jumbotron-fluid bg-light text-muted text-center mt-4">
        <div class="container">
          <h1 class="display-3">Contact</h1>
          <p class="lead mt-2">Contact list of diploma faculty</p>
        </div>
    </div>
    </section>
    <!--End of Header-->


    <!---faculty contact list--->



  <div class="container">
    <h2>Faculty Contacts</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Detail</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>

        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <td>Co-Ordinator</td>
          <td>Okram Manglemba</td>
          <td>def@somemail.com</td>
          <td>9862888307</td>
        </tr>
        <tr class="table-primary">
          <td>Co-Ordinator</td>
          <td>R.Dengchhunga</td>
          <td>def@somemail.com</td>
          <td>9986412243</td>
        </tr>
        <tr class="table-primary">
          <td>Teacher</td>
          <td>Lalthlamuana</td>
          <td>def@somemail.com</td>
          <td>8119966621</td>
        </tr>
        <tr class="table-primary">
          <td>Teacher</td>
          <td>P.C. Lalawmzuali</td>
          <td>joe@example.com</td>
          <td>7085844120</td>
        </tr>
        <tr class="table-success">
          <td>Teacher</td>
          <td>Lalmuanpuia</td>
          <td>john@example.com</td>
          <td>9436141327</td>
        </tr>
        <tr class="table-danger">
          <td>Teacher</td>
          <td>Judy Zothanmawii</td>
          <td>mary@example.com</td>
          <td>9612621807</td>
        </tr>
        <tr class="table-info">
          <td>Teacher</td>
          <td>Samuel Zodingliana</td>
          <td>july@example.com</td>
          <td>9862315215</td>
        </tr>
        <tr class="table-warning">
          <td>Teacher</td>
          <td>Thounaojam Ibemcha Devi</td>
          <td>bo@example.com</td>
          <td>8014642166</td>
        </tr>
        <tr class="table-active">
          <td>Teacher</td>
          <td>Yumnam Naoba Singh</td>
          <td>act@example.com</td>
          <td>9858203964</td>
        </tr>
        <tr class="table-secondary">
          <td>Teacher</td>
          <td>Lalrempuia Sailo</td>
          <td>sec@example.com</td>
          <td>9436156170</td>
        </tr>
        <tr class="table-light">
          <td>Teacher</td>
          <td>Lalthanpari</td>
          <td>angie@example.com</td>
          <td>9856857142</td>
        </tr>
        <tr class="table-dark text-dark">
          <td>Teacher</td>
          <td>Chanchinmawia</td>
          <td>bo@example.com</td>
          <td>9612575902</td>
        </tr>
      </tbody>
    </table>
  </div>






{% endblock %}
