{% load static from staticfiles %}


<html>
          <head>
                <title>Home</title>
           <link rel="stylesheet" href="{% static 'style.css' %}">  -
                <meta charset="utf-8">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
                    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
                    <link rel="stylesheet" href="{% static 'css/style.css' %}">
                    <link rel="shortcut icon" href="{% static 'home.gif' %}">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                    <script src="{% static 'js/parallax.min.js' %}"></script>

          </head>

 <body id="home">
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
          <div class="container-fluid">
                  <a href="{% url 'home:homepageL' %}" class="navbar-brand">
                  <img src="{% static 'img/mylogo3.png' %}"  height="30" class="d-inline-block align-top mr-3">Diploma</a>

                  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                                <a href="{% url 'home:homepageL' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                                <a href="newspage.php" class="nav-link">News</a>
                        </li>
                        <li class="nav-item">
                                <a href="{% url 'dcse:dcseMain' %}" class="nav-link">Dcse</a>
                        </li>
                        <li class="nav-item">
                                <a href="{% url 'dete:deteMain' %}" class="nav-link">Dete</a>
                        </li>
                        <li class="nav-item">
                                <a href="{% url 'articles:list' %}" class="nav-link">Articles</a>
                        </li>

                              {% if user.is_authenticated %}
                               <li class="nav-item">
                                 <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                   {% csrf_token %}
                                      <button type="submit">Logout</button>
                                 </form>
                               </li>
                               <li class="nav-item">
                                      <a href="{% url 'articles:create' %}" class="highlight">New Article</a>
                               </li>
                              {% else %}
                               <li class="nav-item">
                                      <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
                               </li>
                              <li class="nav-item">
                                      <a href="{% url 'accounts:signup' %}" class="nav-link">Signup</a>
                               </li>
                              {% endif %}


                  </ul>

                        <form class="form-inline my-0" action = "{% static 'search.php' %}" method="POST">
                            {% csrf_token %}
                                <input class="form-control searchinput" type="text" name="search" placeholder="Search">
                                <button class="btn  btn-info btnsearch fa fa-search my-sm-0" type="submit" name="submit-search"></button>
                        </form>

                  </div>
            </div>
        </nav>



              <!--------------Background section------------->


        <div class="home-section">

             <div class="parallax">
                <div class="dark-overlay">

                    <div class="container-fluid text-white" style="margin-top:160px;">
                        <div class="row">

                            <div class="a col-md-12 jumbotron bg-transparent">
                                  <div class="text-center">
                                       <img class="mb-2" src="{% static 'img/mylogo3.png' %}" alt="image">

                                  </div>
                            </div>
                        </div>
                     </div>
                 </div>
             </div>

        </div>


                                      {% block content %}

                                      {% endblock %}

</div>



               <!------------------footer----------------->

          <section id="footer">
            <div class="footer">
              <div class="container-fluid mt-4 text-center text-light">
                <div class="container">
                  <div class="row mt-2">

              <!------------------first column------------->

                          <div class="col col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3  mb-r mt-3 mx-auto">
                              <h5 class="font-bold">Others</h5>
                              <h6 class="" style="border-bottom:1px solid #333;"></h6>
                              <ul class="list-unstyled"style="line-height:30px;">
                              <li><a href="http://www.antiragging.in/" target="_blank">anti raging</a></li>
                              <li><a href="https://www.aicte-india.org/" target="_blank">aicte</a></li>
                          </div>

              <!-----------------second Coulumn----------->

                          <div class="col col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3  mb-r mt-3 mx-auto">
                              <h5 class="font-bold">Useful links</h5>
                              <h6 class="" style="border-bottom:1px solid #333;"></h6>
                              <ul class="list-unstyled"style="line-height:30px;">
                                  <li><a href="https://dhte.mizoram.gov.in/" target="_blank">Higher & Techical Education</a></li>
                                  <li><a href="http://nielit.gov.in/aizawl/" target="_blank">Nielit Official</a></li>
                                  <li><a href="https://scholarships.mizoram.gov.in/" target="_blank">Scholarships</a></li>
                              </ul>
                          </div>

              <!---------------Third column--------------->

                          <div class="col col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mt-3 mx-auto">
                              <h5 class="font-bold">Information</h5>
                              <h6 class="#" style="border-bottom:1px solid #333;"></h6>
                              <ul class="list-unstyled"style="line-height:30px;">
                                    <li><a href="feedback.php">Contact Us</a></li>
                                    <li><a href="aboutus.php">About Us</a></li>
                              </ul>
                         </div>

              <!--------------Fourth Column---------------->

                         <div class="col col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mx-auto mb-r mt-3">
                              <h5 class="font-bold">Our location</h5>
                              <h6 class="" style="border-bottom:1px solid #333;"></h6>
                              <address style="font-size:15px;">
                                    NIELIT Aizawl Centre<br>
                                    Aizawl Industrial Estate,<br>
                                    Zuangtui, Aizawl-796017<br>
                              <abbr title="Telephone">T: </abbr><a href="tel:+03892320581">(0389) 2320581</a><br>
                            </address>
                         </div>

              <!--------------social link------------------>

                         <div class="container ficon text-center">
                               <ul class="d-inline-flex p-1">
                                     <li><a href="https://www.facebook.com/NielitDiplomaAizawl/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                     <li><a href="https://www.youtube.com/channel/UCilo2XHfLoNzpqfPoOatxFw?view_as=subscriber" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                     <li><a href="https://www.instagram.com/nielitdiploma/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                     <li><a href="https://twitter.com/nielitdiploma" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                               </ul>
                         </div>

              <!--------------footer Copyright-------------->

                          <div class="footer-copyright mb-4 mx-auto">
                             <div class="container-fluid ">
                                Copyright &copy; <?php echo date('Y'); ?> nielitdiploma

                            </div>
                      </div>

                </div>
              </div>
            </div>
          </div>
        </section>



                  <script src="{% static 'js/jquery.min.js' %}"></script>
                  <script src="{% static 'js/popper.min.js' %}"></script>
                  <script src="{% static 'js/bootstrap.min.js' %}"></script>
                  <script src="{% static 'js/news.js' %}"></script>
                  <script src="{% static 'js/binary.js' %}"></script>

 </body>

</html>
